<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <script src="//cdn.gotraffic.net/business-staging/public/javascripts/application.0868dce7.js"></script>

  <link rel="stylesheet" type="text/css" href="css/fonts.css"/>
  <link rel="stylesheet" type="text/css" href="css/standalone.css"/>
  <style>
    body,html {
      height: 1600px;
    }

    .top-banner {
        font-size: 14px;
        line-height: 20px;
        background: #000;
        padding: 5px 1em;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: AvenirNext-Demi, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .top-banner .center {
        margin: 0 auto;
        max-width: 960px;
        *zoom: 1;
    }
    .top-banner .center:before, .top-banner .center:after {
        display: table;
        content: "";
        line-height: 0;
    }
    .top-banner .center:after {
        clear: both;
    }
    .top-banner ul>li {
        float: left;
        display: block;
        margin: 0 10px 0 0;
        padding: 0 10px 0 0;
        *zoom: 1;
    }
    .top-banner ul>li:before, .top-banner ul>li:after {
        display: table;
        content: "";
        line-height: 0;
    }
    .top-banner ul>li:after {
        clear: both;
    }
    .top-banner ul>li:first-of-type {
        border-right: 1px solid white;
    }
    .top-banner a {
        text-decoration: none;
        color: white;
        font-size: 12px;
    }
    .top-banner a span {
        display: inline-block;
        margin-top: 2px;
        margin-left: 5px;
        position: relative;
        bottom: -3px;
        color: white;
    }

  </style>
</head>
<body>
    <div class="top-banner">
        <div class="center">
            <ul>
                <li>
                    <a target="_blank" href="http://www.bloomberg.com/company/careers/?tophat=open&amp;utm_source=j2w-menu">Bloomberg the Company

                    <span class="banner-icon external-link">
                        <svg id="Layer_1" x="0px" y="0px" width="13px" height="12px">
                        <g>
                            <path fill="#FFFFFF" d="M9.929,7.071v2.144c0,0.531-0.189,0.985-0.566,1.362C8.985,10.954,8.531,11.143,8,11.143H2.429                                         c-0.531,0-0.986-0.189-1.363-0.566C0.688,10.2,0.5,9.746,0.5,9.214V3.643c0-0.531,0.188-0.985,0.566-1.363                                         c0.377-0.377,0.832-0.565,1.363-0.565h4.714c0.062,0,0.114,0.02,0.154,0.06c0.04,0.041,0.061,0.092,0.061,0.154v0.429                                         c0,0.062-0.021,0.114-0.061,0.154c-0.04,0.04-0.092,0.06-0.154,0.06H2.429c-0.295,0-0.547,0.105-0.757,0.315                                         c-0.21,0.209-0.314,0.462-0.314,0.756v5.572c0,0.294,0.104,0.547,0.314,0.757c0.21,0.209,0.462,0.314,0.757,0.314H8                                         c0.295,0,0.547-0.105,0.757-0.314c0.209-0.21,0.314-0.463,0.314-0.757V7.071c0-0.062,0.021-0.113,0.061-0.153                                         c0.04-0.041,0.091-0.061,0.154-0.061h0.429c0.062,0,0.114,0.02,0.154,0.061C9.908,6.958,9.929,7.009,9.929,7.071z M12.5,1.286                                         v3.429c0,0.116-0.042,0.216-0.127,0.301c-0.085,0.085-0.186,0.127-0.302,0.127S11.854,5.1,11.771,5.015l-1.179-1.179L6.226,8.203                                         C6.181,8.248,6.129,8.27,6.071,8.27S5.962,8.248,5.917,8.203L5.154,7.439C5.109,7.395,5.087,7.343,5.087,7.286                                         c0-0.058,0.022-0.109,0.067-0.154L9.52,2.765L8.342,1.586C8.257,1.502,8.214,1.402,8.214,1.286s0.042-0.217,0.127-0.302                                         c0.084-0.084,0.185-0.127,0.301-0.127h3.429c0.116,0,0.217,0.042,0.302,0.127C12.458,1.069,12.5,1.169,12.5,1.286z"></path>
                        </g>
                        </svg>
                    </span>

                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://bba.bloomberg.net/">Bloomberg Anywhere Login
                        <span class="banner-icon terminal">
                            <svg id="Layer_2" x="0px" y="0px" width="23px" height="13px" viewBox="0 0 22.708 14.833" enable-background="new 0 0 22.708 14.833">
                            <g>
                                <path fill="none" stroke="#FFFFFF" stroke-width="0.75" stroke-miterlimit="10" d="M10.94,8.877c0,0.226-0.183,0.408-0.408,0.408                                             H1.126c-0.226,0-0.408-0.183-0.408-0.408V1.175c0-0.226,0.183-0.408,0.408-0.408h9.405c0.226,0,0.408,0.183,0.408,0.408V8.877z"></path>
                                <path fill="none" stroke="#FFFFFF" stroke-width="0.75" stroke-miterlimit="10" d="M22.014,8.877c0,0.226-0.183,0.408-0.408,0.408                                             H12.2c-0.226,0-0.408-0.183-0.408-0.408V1.175c0-0.226,0.183-0.408,0.408-0.408h9.405c0.226,0,0.408,0.183,0.408,0.408V8.877z"></path>
                                <path fill="none" stroke="#FFFFFF" stroke-width="0.75" stroke-miterlimit="10" d="M10.088,11.08v0.689                                             c0,0.256,0.287,0.464,0.852,0.464c0.565,0,0.852-0.208,0.852-0.464V11.08l0.22,0.004c1.593,0.177,2.79,0.754,2.79,1.46                                             c0,0.845-1.636,1.529-3.708,1.529s-3.729-0.685-3.729-1.529c0-0.693,1.14-1.279,2.691-1.466L10.088,11.08z"></path>
                            </g>
                            </svg>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>
