/* SLIDER */
/* http://bl.ocks.org/shancarter/5979700 */

#calculator .slider {
  position: relative;
  margin: 20px auto;
  margin-bottom: 40px;
  height: 6px;
}

#calculator .slider-tray {
  position: absolute;
  width: 100%;
  height: 6px;
  border: solid 1px #ccc;
  border-top-color: #aaa;
  border-radius: 4px;
  background-color: #ffd400;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

#calculator .slider-handle {
  position: absolute;
  top: 3px;
}

#calculator .slider-handle-icon {
  width: 14px;
  height: 14px;
  border: solid 1px #aaa;
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  top: -7px;
  left: -7px;
}

/* CALCULATOR */

#calculator {
  font-family: helvetica, arial, sans-serif;
  padding: 20px;
  background: #4fad45;
  color: #8700ff;
  border: #ffd400 solid 4px;
  border-radius: 20px;
  font-size: .8em;
}

#calculator h1 {
  font-family: 'Germania One';
  font-size: 4em;
  margin: 10px;
  line-height: 1.2em;
}

#calculator h2 {
  margin: 0;
  font-size: 2em;
  line-height: 1em;
}

#calculator p {
  margin: 0;
}

#calculator h1, #calculator h2, #calculator p {
  text-align: center;
}

#calculator th {
  font-size: 3em;
  padding-bottom: 20px;
  font-family: 'Germania One';
}

#calculator #comparison {
  width: 100%;
}

#calculator #comparison .main-column {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}

#calculator #comparison thead, #calculator #comparison .footer {
  text-align: center;
}

#calculator #comparison .footer td {
  padding-top: 30px;
  padding-bottom: 20px;
}

#calculator .price-table {
  width: 100%;
}
#calculator .price-table .quantity {
  width: 20%;
  text-align: right;
}
#calculator .price-table .operator {
  width: 10%;
  text-align: center;
}
#calculator .price-table .item {
  width: 70%;
}
#calculator .price-table .price {
  width: 0%;
  text-align: right;
}
#calculator .price-table .hidden {
  display: none;
}

#calculator .price-table .item a {
  text-decoration: none;
  color: #388432;
}
#calculator .price-table .item a:hover {
  text-decoration: none;
  color: #ffd400;
}

@media only screen and (max-width: 600px) {
  #calculator {
    padding: 0;
    border: none;
    border-top: #ffd400 solid 4px;
    border-bottom: #ffd400 solid 4px;
    border-radius: 0;
    font-size: .8em;
  }

  #calculator h1 {
    font-size: 2em;
  }

  #calculator h2 {
    font-size: 1.5em;
  }

  #calculator th {
    font-size: 2em;
  }

  #calculator #comparison .main-column {
    padding: 0;
  }

  #calculator .price-table .item a {
    display: none;
  }
}
