/* SLIDER */
/* http://bl.ocks.org/shancarter/5979700 */

.slider {
  position: relative;
  margin: 20px auto;
  height: 6px;
}

.slider-tray {
  position: absolute;
  width: 100%;
  height: 6px;
  border: solid 1px #ccc;
  border-top-color: #aaa;
  border-radius: 4px;
  background-color: #ffd400;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

.slider-handle {
  position: absolute;
  top: 3px;
}

.slider-handle-icon {
  width: 14px;
  height: 14px;
  border: solid 1px #aaa;
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  top: -7px;
  left: -7px;
}

/* PAGE */

body {
  background-color:#b5aa94;
  padding: 20px;
}

#container {
  font-family: helvetica, arial, sans-serif;
  padding: 20px;
  background: #4fad45;
  color: #8700ff;
  border: #ffd400 solid 4px;
  border-radius: 20px;
}

h1 {
  font-family: 'Germania One';
  font-size: 4em;
  margin: 10px;
}

h2 {
  margin: 0;
}

h1, h2, p {
  text-align: center;
}

th {
  font-size: 3em;
  padding-bottom: 20px;
  font-family: 'Germania One';
}

#comparison {
  width: 100%;
}

#comparison .main-column {
  width: 50%;
  padding-left: 40px;
  padding-right: 40px;
  vertical-align: top;
}

#comparison thead, #comparison .footer {
  text-align: center;
}

#comparison .footer td {
  padding-top: 30px;
  padding-bottom: 20px;
}

.price-table {
  width: 100%;
}
.price-table .quantity {
  width: 20%;
  text-align: right;
}
.price-table .operator {
  width: 10%;
  text-align: center;
}
.price-table .item {
  width: 70%;
}
.price-table .price {
  width: 0%;
  text-align: right;
}
.price-table .hidden {
  display: none;
}

.price-table .item a {
  text-decoration: none;
  color: #388432;
}
.price-table .item a:hover {
  text-decoration: none;
  color: #ffd400;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }

  #container {
    padding: 0;
    border: none;
    border-top: #ffd400 solid 4px;
    border-bottom: #ffd400 solid 4px;
    border-radius: 0;
    font-size: .8em;
  }

  h1 {
    font-size: 2em;
  }

  th {
    font-size: 2em;
  }

  #comparison .main-column {
    padding: 0;
  }
}
